.chat-listing-container {
  display: flex;
  width: 100%;
  /* height: 90vh; */
  overflow: hidden;
  flex-wrap: wrap;
  overflow-y: scroll;
  align-items: flex-start;
}

.chat-listing {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background-color: #281a34;
}

.chat-listing-no-chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.chat-listing-no-chat-text {
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.chat-listing-no-chat-text p {
  color: #c1bdbd;
  text-align: center;
}
