* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-primary: #2d2b3d;
  --bg-secondary: #363348;
  --purple-primary: #9c27b0;
  --purple-hover: #7c3aed;
  --text-primary: #ffffff;
  --text-secondary: #9ca3af;
  --border-color: #4b5563;
}

@media (min-width: 641px) {
  *::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
  }

  *::-webkit-scrollbar-track {
    background-color: transparent !important;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    background-color: #443451 !important;
  }
}
